/**
 * 代码片段收集
 */

/* css垂直居中(相对定位+translate偏移) */
.block {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* css垂直居中(flex布局) */
.block {
  display: flex;
  align-items: center; 
  justify-content: center;
}

/* 非最后一项选择器（适合用于border, padding, margin的left/right属性设置 */
item:not(:last-child) {
  border-bottom: 1px solid #f3f3f3;
}